In [2]:
from pymongo import MongoClient
import pandas as pd

client = MongoClient("mongodb://cloud_user:cloud_user@localhost:27017/cloud_user")

In [3]:
df = pd.DataFrame.from_records(client.cloud_user.zips.find())

In [4]:
df.head()

Empty DataFrame
Columns: []
Index: []

In [5]:
oz_data = {"_id": 99990, "city": "EMERALD", "loc": [-510.9, -600.89], "pop": 564372, "state": "Munchkin Land"}

In [7]:
client.cloud_user.zips.insert_one(oz_data)

In [8]:
df1 = pd.DataFrame.from_records(client.cloud_user.zips.find())

In [9]:
df1.tail()

     _id     city                loc     pop          state
0  99990  EMERALD  [-510.9, -600.89]  564372  Munchkin Land

In [10]:
df.count()

Series([], dtype: int64)

In [11]:
df1.count()

_id      1
city     1
loc      1
pop      1
state    1
dtype: int64

In [12]:
client.close()