In [15]:
from pymongo import MongoClient
import pandas as pd

client = MongoClient("mongodb://cloud_user:cloud_user@localhost:27017/cloud_user")

In [16]:
df = pd.DataFrame.from_records(client.cloud_user.zips.find())

In [17]:
df.head()

     _id          city                      loc     pop          state
0  99990       EMERALD        [-510.9, -600.89]  564372  Munchkin Land
1  99989       EMERALD        [-510.9, -600.89]  564372  Munchkin Land
2  01012  CHESTERFIELD   [-72.833309, 42.38167]     177             MA
3  01002       CUSHMAN   [-72.51565, 42.377017]   36963             MA
4  01010     BRIMFIELD  [-72.188455, 42.116543]    3706             MA

In [20]:
oz_data = {"_id": 99991, "city": "EMERALD", "loc": [-510.9, -600.89], "pop": 564372, "state": "Munchkin Land"}

In [21]:
client.cloud_user.zips.insert_one(oz_data)

In [22]:
df1 = pd.DataFrame.from_records(client.cloud_user.zips.find())

In [23]:
df1.tail()

         _id         city                       loc     pop          state
29351  99927  POINT BAKER  [-133.376372, 56.307858]     426             AK
29352  99926   METLAKATLA  [-131.579001, 55.121491]    1469             AK
29353  99950    KETCHIKAN   [-133.18479, 55.942471]     422             AK
29354  99929     WRANGELL  [-132.352918, 56.433524]    2573             AK
29355  99991      EMERALD         [-510.9, -600.89]  564372  Munchkin Land

In [24]:
df.count()

_id      29355
city     29355
loc      29355
pop      29355
state    29355
dtype: int64

In [25]:
df1.count()

_id      29356
city     29356
loc      29356
pop      29356
state    29356
dtype: int64

In [26]:
client.close()