In [1]:
import pandas as pd

In [2]:
# define the data as a list
data = [
    ("Dexter","Johnsons","dog","shiba inu","red sesame",1.5,35,"m",False,"both",True),
    ("Alfred","Johnsons","cat","mix","tuxedo",4,12,"m",True,"indoor",True),
    ("Petra","Smith","cat","ragdoll","calico",None,10,"f",False,"both",True),
    ("Ava","Smith","dog","mix","blk/wht",12,32,"f",True,"both",False),
    ("Schroder","Brown","cat","mix","orange",13,15,"m",False,"indoor",True),
    ("Blackbeard","Brown","bird","parrot","multi",5,3,"f",False,"indoor",),
]

# define the labels
labels = ["name","owner","type","breed","color","age","weight","gender","health issues","indoor/outboor","vaccinated"]

# create dataframe
vet_records = pd.DataFrame.from_records(data, columns=labels)

In [3]:
# How many types of pets do we have?
vet_records.type.count()

6

In [4]:
vet_records.groupby('type').count()

,name,owner,breed,color,age,weight,gender,health issues,indoor/outboor,vaccinated
type,,,,,,,,,,
bird,1,1,1,1,1,1,1,1,1,0
cat,3,3,3,3,2,3,3,3,3,3
dog,2,2,2,2,2,2,2,2,2,2

In [5]:
vet_records.type.value_counts()

cat     3
dog     2
bird    1
Name: type, dtype: int64

In [6]:
# Create a pandas series from the dataframe
weight = vet_records['weight']

In [7]:
weight

0    35
1    12
2    10
3    32
4    15
5     3
Name: weight, dtype: int64

In [8]:
vet_records.head()

,name,owner,type,breed,color,age,weight,gender,health issues,indoor/outboor,vaccinated
0,Dexter,Johnsons,dog,shiba inu,red sesame,1.5,35,m,False,both,True
1,Alfred,Johnsons,cat,mix,tuxedo,4.0,12,m,True,indoor,True
2,Petra,Smith,cat,ragdoll,calico,NaN,10,f,False,both,True
3,Ava,Smith,dog,mix,blk/wht,12.0,32,f,True,both,False
4,Schroder,Brown,cat,mix,orange,13.0,15,m,False,indoor,True

In [9]:
# Collect the dog weights only using a boolean filter
dog_weight = vet_records.weight[vet_records.type=='dog']

In [10]:
dog_weight

0    35
3    32
Name: weight, dtype: int64

In [11]:
dogs = vet_records[vet_records.type=='dog']

In [12]:
dogs

,name,owner,type,breed,color,age,weight,gender,health issues,indoor/outboor,vaccinated
0,Dexter,Johnsons,dog,shiba inu,red sesame,1.5,35,m,False,both,True
3,Ava,Smith,dog,mix,blk/wht,12.0,32,f,True,both,False